.disciplina{
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 10px;
    width: 600px;
    box-shadow: 0.1em 0.1em 0.2em;
    display: grid;
    position: relative;
    grid-template-areas: 
    ". nome nome . carga"
    ". . . . ."
    ". . . lab .";

    .nome{
        grid-area: nome;
        font-size: 25px;
    }

    .carga{
        grid-area: carga;
        font-weight: bold;
    }

    .lab{
        grid-area: lab;
        text-transform: uppercase;
        background-color: rgb(4, 4, 71);
        font-size: 20px;
        color: white;
    }
}
