.disciplina{
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
    font-weight: 600;
    box-shadow: 0.1em 0.1em 0.2em;
    display: grid;
    grid-template-areas: 
    "nome nome . carga "
    ".  aval lab .";

    .nome{
        grid-area: nome;
        place-content: right;
        font-size: 14px;
    }

    .carga{
        grid-area: black;
        color: grey;
    }

    .aval{
        grid-area: aval;
        place-content: right;
        font-size: 4em;
        background-color: darkgreen;
        color: white;
    }

    .avalBaixa{
        grid-area: aval;
        place-content: right;
        font-size: 4em;
        background-color: darkred;
        color: white;
    }

    .lab{
        grid-area: lab;
        text-transform: uppercase;
        background-color: darkblue;
        color: white;
        font-size: 0.75em;
        place-content: right;
    }
}
