.disciplina{
    border: 1px solid grey;
    border-radius: 0.5em;
    padding: 0.5em;
    font-weight: 600;
    box-shadow: 0.1em 0.1em 0.2em;
    display: grid;
    grid-template-areas: 
    "nome nome nome carga"
    ".  aval lab .";

    .nome{
        grid-area: nome;
        place-content: center;
        font-size: 4px;
    }

    .carga{
        grid-area: carga;
        color: grey;
    }

    .aval{
        grid-area: avaliacao;
        place-content: center;
        font-size: 4em;
    }

    .lab{
        grid-area: lab;
        text-transform: uppercase;
        background-color: darkblue;
        color: white;
        font-size: 0.75em;
        place-content: center;
    }
}
