.periodoPai{
    display: grid;
    grid-template-areas: 
    ". periodo ."
    ". ramo .";
    padding: 1em;
    box-shadow: 0.1em 0.2em 0.2em;
    gap: 0.1em;
    width: 800px;
    align-content: center;
    .periodo{
        width:800px;
        color: black;
        font-weight: 600;
        background-color: rgb(175, 170, 170);
        grid-area: periodo;
    }

    .ramos{
        width:600px;
        grid-area: ramo;
    }
}