.vertente{
    display: grid;
    place-items: center;
    grid-template-areas: 
    ". ramo ."
    ". . ."
    "disciplinas disciplinas disciplinas";
    padding: 3px;
    box-shadow: 0.1em 0.2em 0.2em;
    gap: 0.1em;
    width: 800px;
    .ramo{
        width:800px;
        color: black;
        background-color: rgb(175, 170, 170);
        font-weight: 600;
        grid-area: ramo;
    }
    .disciplinas{
        display: grid;
        grid-area: disciplinas;
        gap: 5px;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
}